<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="../vendor/autoload.php"
    cacheDirectory="../.build/phpunit/cache/"
    cacheResult="true"
    colors="true"
    columns="max"
    executionOrder="random"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
>
    <coverage includeUncoveredFiles="true"/>
    <php>
        <env name="COLUMNS" value="200"/>
        <env name="COMPOSER_ALLOW_XDEBUG" value="1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">../src/</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="integration">
            <directory>Integration/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
