<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutResourceUsageDuringSmallTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="../vendor/autoload.php"
    colors="true"
    columns="max"
    cacheResult="true"
    cacheResultFile="../.build/phpunit/cache"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    executionOrder="random"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="true"
>
    <coverage>
        <include>
            <directory suffix=".php">../src/</directory>
        </include>
    </coverage>
    <extensions>
        <extension class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>
    </extensions>
    <php>
        <env name="COLUMNS" value="200"/>
        <env name="COMPOSER_ALLOW_XDEBUG" value="1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="integration">
            <directory>Integration/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
