/.github/                       export-ignore
/.phive/                        export-ignore
/bin/                           export-ignore
/phar/                          export-ignore
/test/                          export-ignore
/.editorconfig                  export-ignore
/.gitattributes                 export-ignore
/.gitignore                     export-ignore
/.php_cs                        export-ignore
/box.json                       export-ignore
/composer-require-checker.json  export-ignore
/Makefile                       export-ignore
/psalm-baseline.xml             export-ignore
/psalm.xml                      export-ignore
