/.dependabot/                   export-ignore
/.github/                       export-ignore
/phar/                          export-ignore
/test/                          export-ignore
/.editorconfig                  export-ignore
/.gitattributes                 export-ignore
/.gitignore                     export-ignore
/.php_cs                        export-ignore
/composer-require-checker.json  export-ignore
/Makefile                       export-ignore
/phpstan.neon                   export-ignore
