includes:
	- phpstan-baseline.neon

parameters:
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Composer\Command\BaseCommand
				- Ergebnis\Composer\Normalize\Test\Integration\Command\NormalizeCommand\AbstractTestCase
				- LogicException

	inferPrivatePropertyTypeFromConstructor: true

	level: max

	paths:
		- src/
		- test/
		- .php-cs-fixer.php
		- rector.php

	tmpDir: .build/phpstan/

	treatPhpDocTypesAsCertain: false
