includes:
	- phpstan-baseline.neon

parameters:
	ergebnis:
		classesAllowedToBeExtended:
			- Composer\Command\BaseCommand
			- LogicException
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
