parameters:
	ignoreErrors:
		-
			message: "#^Method Ergebnis\\\\Composer\\\\Normalize\\\\Command\\\\NormalizeCommand\\:\\:indentFromInput\\(\\) has a nullable return type declaration\\.$#"
			count: 1
			path: src/Command/NormalizeCommand.php

		-
			message: "#^Method Ergebnis\\\\Composer\\\\Normalize\\\\Command\\\\NormalizeCommand\\:\\:indentFromExtra\\(\\) has a nullable return type declaration\\.$#"
			count: 1
			path: src/Command/NormalizeCommand.php

