parameters:
	ignoreErrors:
		-
			message: "#^Method Ergebnis\\\\Composer\\\\Normalize\\\\Command\\\\NormalizeCommand\\:\\:indentFrom\\(\\) has a nullable return type declaration\\.$#"
			count: 1
			path: src/Command/NormalizeCommand.php

		-
			message: "#^Call to function method_exists\\(\\) with Symfony\\\\Component\\\\Console\\\\Application and 'isAutoExitEnabled' will always evaluate to true\\.$#"
			count: 1
			path: src/Command/NormalizeCommand.php

