# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Update"

on: # yamllint disable-line rule:truthy
  schedule:
    - cron: "0 9 * * *"

jobs:
  schema:
    name: "Schema"

    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        php-version:
          - "7.3"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2.4.0"

      - name: "Set up PHP"
        uses: "shivammathur/setup-php@2.16.0"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"

      - name: "Download schema"
        run: "wget --output-document=resource/schema.json https://getcomposer.org/schema.json"

      - name: "Show diff"
        run: "git diff resource/schema.json"

      - name: "Laxify schema"
        run: "php bin/laxify-schema.php"

      - name: "Open pull request updating schema"
        uses: "gr2m/create-or-update-pull-request-action@v1"
        with:
          author: "ergebnis-bot <bot@ergebn.is>"
          branch: "feature/schema"
          body: |
            This PR

            - [x] updates `schema.json`
          commit-message: "Enhancement: Update schema.json"
          path: "resource/"
          title: "Enhancement: Update `schema.json`"
        env:
          GITHUB_TOKEN: "${{ secrets.ERGEBNIS_BOT_TOKEN }}"
